[submodule "extern/fmt"]
	path = extern/fmt
	url = ../../fmtlib/fmt.git
        ignore = untracked
[submodule "extern/utfcpp"]
	path = extern/utfcpp
	url = ../../nemtrif/utfcpp
        ignore = untracked
